.formulario {
    display: grid;
    grid-template-areas: 
      "contact comments"
      "... button";
  	grid-template-rows: 12em 4em;  
  	grid-template-columns: 20em 1fr;
    grid-gap: 3em;
    background: #eee;
    padding: 1.2em;
    height: 40vh;
    & label{
        grid-area: labels;
    }
    & input{
        grid-area: contact;
        width: 100%;
        padding: 1.1em;
        border: none;
        margin-bottom: 1em;
    }
    & textarea {
        min-height: calc(100% - 2em);
        width: 100%;
        border: none;
    }
    & button{
        grid-area: button;
        border: 0;
    }
  }

  #comment-box {
    grid-area: comments;
   }

   
  .container{ 
    text-align: center;
    height: 10vh;
    padding: 5px;
  }
