header{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    & a{
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        &:hover{
            color: $color-resaltador;
    }
}
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/img/banner.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    & h1{
        color: $color-secundario;
    }
}

.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 90vh;
    overflow: hidden;
}

#carouselfade{
    height: 90vh;
}

.carousel-inner{
    height: 90vh;
}


.logo{
    display: flex;
    justify-content: center;
}

.titulo__principal{
    visibility: hidden;
    position: absolute;
}

@media (max-width: 375px){
    .cartas{
        display: grid;
    }
    .carta{
        min-width: 300px;
        overflow: hidden;
    }
    .navbar__lista{
        display: grid;
        gap: 10px;
        grid-auto-flow: row;
        justify-items: center;
        align-items: center;
        width: 375px;
      }
}
