#tips{
    background-color:  rgb(30, 30, 30);
    color: $color-secundario;
    text-align: center;
    padding: 50px;
  }

  .tip{
    padding: 20px;
  }

  @media (min-width: 1200px){
    .maquillajes{
        display: flex;
        flex-direction: row;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .header a{
        padding: 10px 20px;
    }
    .cartas{
        display: flex;
    }
    #sobre-mi{
        display: flex;
        gap: 500px;
        text-align: end;
    }
    #yo{
        padding-right: 400px;
    }
}