button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.199);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.685);
    color: white;
    background-color: $color-resaltador;
    &:hover{
        background-color: rgb(101, 33, 165);
    }
}